<ion-header [translucent]="true">
  <ion-toolbar class="background">
    <ion-title>
      Houses
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar class="  ">
      <ion-title size="large">Houses</ion-title>
    </ion-toolbar>
  </ion-header>

 <div style="position: fixed; z-index: 2; width: 100%;">
  <ion-item-divider>
    <ion-input type="number" [(ngModel)]="min" placeholder="$Min"></ion-input> 
    -
    <ion-input type="number" [(ngModel)]="max" placeholder="$Max"></ion-input>

    <ion-button (click)="obtenerCasasPorPrecio(min,max,desde)" fill="clear">
      <ion-icon slot="start" name="search" color="tertiary"></ion-icon>
    </ion-button>
  </ion-item-divider>

  <ion-item-divider>
      <ion-label>Property Type</ion-label>
      <ion-select [(ngModel)]="type" style="width: 100%;">
        <ion-select-option *ngFor="let item of properties">{{item}}</ion-select-option>
      </ion-select>
    <ion-button (click)="obtenerCasasPorPropiedad(type,desde)" size="small" fill="clear" shape="round">
      <ion-icon slot="start" name="search"></ion-icon>
    </ion-button>
  </ion-item-divider>
  <ion-item>
    <ion-label>Select your user</ion-label>
    <ion-select [(ngModel)]="user">
      <ion-select-option *ngFor="let item of customers" value={{item._id}}>{{item.firstName}} {{item.lastName}}</ion-select-option>
    </ion-select>
  </ion-item>
 </div>
  <div style="margin-bottom: 35px ; margin-top: 130px;">
    <ion-button (click)="prevPage()" expand="full" fill="clear" >
      <ion-icon slot="icon-only" size="large" style="color:#FF5A60 ;" name="chevron-up-outline"></ion-icon>
    </ion-button>
    <ion-card *ngFor="let item of houses">
      <ion-card-header>
        <ion-card-title>{{item.name}}</ion-card-title>
        <ion-card-subtitle>{{item._id}}</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        <img src={{item.images.picture_url}} alt="">
        <p>beds-{{item.beds}} <br>
           bedrooms-{{item.bedrooms}} <br>
           bathrooms-{{item.bathrooms}} <br>
           accomodates-{{item.accommodates}} <br>  </p>
        <ion-item>
          <ion-label>Property Type: {{item.property_type}}</ion-label>
        </ion-item>
        <ion-item>
          <ion-label><strong>${{item.price}} USD</strong> / night</ion-label>
          <ion-button  (click)="rentHouse(item._id)" size="small" fill="clear">
            <i class="fab fa-airbnb" style="color: #FF5A60; padding: 5px;"></i>
             Rent
          </ion-button>
        </ion-item>
      </ion-card-content>
    </ion-card>
    <ion-button (click)="nextPage()" expand="full" fill="clear" >
      <ion-icon slot="icon-only" size="large" style="color:#FF5A60 ;" name="chevron-down-outline"></ion-icon>
    </ion-button>
    <br>
  </div>
  
</ion-content>
