<ion-header [translucent]="true">
  <ion-toolbar class="background"> 
    <ion-title>
      Customer
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-item-divider style="position:fixed; z-index: 1;">
    <ion-searchbar [(ngModel)]="filter"></ion-searchbar>
    <ion-button  (click)="obtenerCustomerFiltro(filter)" fill="clear" size="medium">
      <ion-icon name="search"></ion-icon>
    </ion-button>
    
    

    <ion-button (click)="addCustomerForm()" fill="clear" size="medium">
      <ion-icon expand="block" size="medium" color="success" name="add"></ion-icon>
    </ion-button>
    
    <ion-button  (click)="dumpCollections()" fill="clear" size="medium">
      <ion-icon name="server-outline" color="tertiary"></ion-icon>
    </ion-button>
  </ion-item-divider>
  <div style="margin-top: 60px;">
    <ion-card *ngFor="let item of customers">
      <ion-card-header>
        <ion-card-subtitle>{{item._id}}</ion-card-subtitle>
        <ion-card-title>{{item.firstName}} {{item.lastName}}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
       address: {{item.address}} <br>
       city: {{item.city}} <br>
       country: {{item.country}} <br>
       district: {{item.district}}
      </ion-card-content>
      <ion-item-divider style="background-color: transparent;">
          <ion-button (click)="updateCustomerForm(item)" size="large" fill="clear">
            <ion-icon name="pencil"></ion-icon>
           </ion-button>
         <ion-button (click)="confirmDeleteCustomer(item._id,item.firstName,item.lastName)" size="large" fill="clear" color="danger">
          <ion-icon name="trash-outline"></ion-icon>
         </ion-button>
      </ion-item-divider>
    </ion-card>
    <br>
    <br>
    <br>
  </div>
</ion-content>
