<ion-header [translucent]="true">
  <ion-toolbar class="background">
    <ion-title>
      Rentals
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Rentals</ion-title>
    </ion-toolbar>
  </ion-header>

  <div>
    <ion-card *ngFor="let item of rentalData">
      <ion-card-header>
        <ion-card-subtitle>{{item.idListingAndReview.name}}</ion-card-subtitle>
        <ion-card-title>{{item.idCustomer.firstName}} {{item.idCustomer.lastName}}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <img src={{item.idListingAndReview.images.picture_url}} alt="">
        <ion-item>
          <ion-label>From: {{item.rentalDate.substring(0,10)}}</ion-label>
          <ion-label>To: {{item.returnDate.substring(0,10)}}</ion-label>
        </ion-item>
      </ion-card-content>
    </ion-card>
    <br>
    <br>
  </div>
  
</ion-content>
